.LoginSide{
     background: url('https://images.unsplash.com/photo-1515965885361-f1e0095517ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80');
     background-size: cover;
    background-position: center center;
}

.login{
    background: url('https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load');
    background-repeat: no-repeat;
    background-size: cover;
}



@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 25px;
  color: black;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 1.7s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-15px)
  }
}



/* ///////////////////////////Nav BAr///////////////////////////// */




@media (max-width: 767px) {
  .navicon {
    width: 1.125em;
    height: .125em;
  }

  .navicon::before,
  .navicon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
    content: '';
    background: #3D4852;
  }

  .navicon::before {
    top: 5px;
  }

  .navicon::after {
    top: -5px;
  }

  .menu-btn:not(:checked) ~ .menu {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    display: block;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon::before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon::after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon::before,
  .menu-btn:checked ~ .menu-icon .navicon::after {
    top: 0;
  }
}


.hide{
  display:none
}


/* //////////////////Table////////////////////// */


.table {
  border-spacing: 0 15px;
}

i {
  font-size: 1rem !important;
}

.table tr {
  border-radius: 20px;
}

tr td:nth-child(n+5),
tr th:nth-child(n+5) {
  border-radius: 0 .625rem .625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
  border-radius: .625rem 0 0 .625rem;
}


/* //Todo:Project List Loader */



.Booksloading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loader{
  height: 180px;
  width: 180px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.square-item{
  position: absolute;
  height: 35px;
  width: 35px;
  border: 3px solid #ff1d5e;
  margin: 0 auto;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.square-item:nth-child(1){
  animation-name: load-one;
  animation-delay: 0.5s;
}
.square-item:nth-child(2){
  animation-name: load-two;
  animation-delay: 0s;
  border: 3px solid #77b005;
}
.square-item:nth-child(3){
  animation-name: load-three;
  animation-delay: 0.5s;
  border: 3px solid #0329e5;
}
.square-item:nth-child(4){
  animation-name: load-four;
  animation-delay: 0s;
  border: 3px solid #fff;
}

@keyframes load-one {
  50%{ transform: translate(150%, 150%) scale(2);}
}
@keyframes load-two {
  50%{ transform: translate(-150%, 150%) scale(2);}
}
@keyframes load-three {
  50%{ transform: translate(-150%, -150%) scale(2);}
}
@keyframes load-four {
  50%{ transform: translate(150%, -150%) scale(2);}
}
